.DS_Store
/MyImageView/MyImageView.xcodeproj/project.xcworkspace/xcuserdata/shutaro.xcuserdatad/UserInterfaceState.xcuserstate
/TestSpriteKit/TestSpriteKit.xcodeproj/project.xcworkspace/xcuserdata/shutaro.xcuserdatad/UserInterfaceState.xcuserstate
